@import "site.theme.scss";

.navbar {
  $mandarin-navbar-logo-size: 64px;
  $mandarin-navbar-line-size: 3px;
  $mandarin-navbar-line-margin: 10px;

  display: flex;
  flex-direction: column;

  .navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    margin: 0;
    text-align: center;

    .logo {
      height: $mandarin-navbar-logo-size;
      width: $mandarin-navbar-logo-size;
    }

    .header {
      color: $mandarin-color-highlight;
      font-family: "Century Schoolbook L", serif;
    }

    .line {
      width: 100%;
      height: $mandarin-navbar-line-size;
      background: $mandarin-color-highlight;
      margin: auto $mandarin-navbar-line-margin;
    }
  }
}
