<BSNavbar Class="" IsExpand="true">
    <BSNavbarBrand>
        <div class="line mb-4"></div>
        <a href="">
            <BSImage class="logo" src="/images/logo.png"></BSImage>
            <h3 class="header">The Little Mandarin</h3>
        </a>
        <div class="line mt-4"></div>
    </BSNavbarBrand>

    <BSNav>
        <BSNavItem>
            <BSNavLink class="px-3" href="">About</BSNavLink>
        </BSNavItem>
        <BSNavItem>
            <BSNavLink class="px-3" href="the-mini-mandarin">The Mini Mandarin</BSNavLink>
        </BSNavItem>
        <BSNavItem>
            <BSNavLink class="px-3" href="artists">Artists</BSNavLink>
        </BSNavItem>
        <BSNavItem>
            <BSNavLink class="px-3" href="contact">Contact</BSNavLink>
        </BSNavItem>
    </BSNav>
</BSNavbar>
